
<div id="container" >
  <div id="search-input-box" class="border-radius" ng-hide="showMovieDetails">
    <h2 class="txt-center">Search for Films</h2>
    <div class="row">
      <div class="col-sm-12">
        <input ng-model="movieQuery" id="movie-title" class="form-control" type="text" placeholder="Movie Title"/>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a id="movie-search-button" ng-click="loadMovie()" class="btn btn-primary margin-top-20">Search</a>
        </div>
      </div> 
      </div>
    </div><!-- end of first container -->
    <div id="movie-card-container" ng-show="showMovieDetails">

    <div class="movie-card border-radius margin-top-20" >
        <div class="row">
          <div class="col-sm-4">
            <img src="{{movieData.Poster}}"/>
          </div>
          <div class="col-sm-8">
            <h3>Movie title: {{movieData.Title}}</h3>
            <div class="row margin-top-20">
              <div class="col-sm-4">
                <strong>Year: </strong>{{movieData.Year}}
              </div>
              <div class="col-sm-4">
                <strong>Rated: </strong>{{movieData.Rated}}
              </div>
              <div class="col-sm-4">
                <strong>Released: </strong>{{movieData.Released}}
              </div>
            </div>

            <div class="row margin-top-20">
              <div class="col-sm-4">
                <strong>Runtime: </strong>{{movieData.Runtime}}
              </div>
              <div class="col-sm-4">
                <strong>Genre: </strong>{{movieData.Genre}}
              </div>
              <div class="col-sm-4">
                <strong>Director: </strong>{{movieData.Director}}
              </div>
            </div>

            <div class="row margin-top-20">
              <div class="col-sm-12">
                <strong>Actors: </strong>{{movieData.Actors}}
              </div>
            </div>
            
            <div class="row margin-top-20">
              <div class="col-sm-12">
                <strong>Plot: </strong>{{movieData.Plot}}
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>
